.referrals-link-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 12px;
  background-color: var(--neutralSilver);
  border-radius: var(--brRadiusSecondary);
  width: 100%;

  .referrals-link-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      cursor: pointer;
    }
  }
}
