.tab {
  width: 100%;

  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
}

.label-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--neutralDark);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;

  .selected-flag {
    margin-left: 4px;
    width: 20px;
    height: 20px;
  }
}

.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 360px;
}

.accordion {
  border-radius: var(--brRadius);
  overflow: hidden;
  background: var(--neutralSilver);
  margin-bottom: 16px;
}
.tab__label,
.tab__close {
  display: flex;
  background: var(--neutralSilver);
  cursor: pointer;
}
.tab__label {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 38px;
  padding-left: 12px;
  position: relative;

  .icon-globe {
    margin-right: 6px;
  }
}
.tab__label::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  color: var(--neutralAdditional);
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
  position: absolute;
  right: 16px;
  top: 14px;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content {
  background: var(--neutralSilver);
  p {
    margin: 0;
    padding: 1rem;
    background-color: #000;
    margin: 10px 16px;
  }
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}
.accordion--radio {
  --theme: var(--brightRedSecondary);
}

.react-select-container {
  padding: 10px 16px 10px 16px;
}

.react-select__menu.css-1nmdiq5-menu {
  z-index: 100 !important;
  position: relative !important;
  background: transparent !important;
  box-shadow: initial;
  margin-bottom: 0;

  .custom-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--neutralBlock);
    color: var(--neutralDark);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    padding: 6px 12px;
    border-radius: var(--brRadiusSecondary);
    margin-bottom: 7px;
    position: relative;
    cursor: pointer;

    &.selected {
      border: 1px solid var(--primaryAccent);
    }
  }

  .flag-image {
    width: 24px !important;
    height: 24px !important;
    margin-right: 4px;
  }

  .checkmark-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.react-select__menu-list {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.react-select__menu-list::-webkit-scrollbar {
  display: none;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.react-select__indicator {
  display: none !important;
}

.css-13cymwt-control {
  border: none !important;
  border-radius: var(--brRadius) !important;
  cursor: pointer !important;
}

.custom-option {
  display: flex;
  justify-content: space-between;
}

.custom-single-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .selected-flag {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}

.css-hlgwow {
  display: flex !important;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.custom-input-container {
  display: flex;
  margin-left: 8px;
  order: 1;
}

.css-1cfo1cf {
  margin-left: 8px !important;
}

.selected-flag-input {
  width: 27px;
  height: 27px;
  margin-right: 8px;
  order: -1;
}

.css-1p3m7a8-multiValue {
  display: none !important;
}

.css-1dimb5e-singleValue {
  order: -2;
}

.react-select__value-container--is-multi {
  .selected-flags-container {
    display: none;
  }
}

.react-select__value-container--has-value {
  .custom-input-container {
    position: relative;
  }
}

.react-select__menu-notice {
  display: none !important;
}
