.coin {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 9px 12px;
  background-color: var(--primaryGolden);
  border-radius: var(--brRadiusThird);

  &.hide-icon {
    justify-content: center;
  }

  &:first-child {
    margin-right: 16px;
  }

  &-icon {
    cursor: pointer;
    padding: 0 2px;
  }

  &.silver {
    background-color: var(--neutralSilver);

    .quantity-coin-wrapper {
      .quantity {
        margin-left: 4px;
      }
    }
  }

  .quantity-coin-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    .quantity {
      margin-left: 2px;
    }
  }
}
