.action-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--neutralSilver);
  padding-left: 12px;
  height: 38px;
  border-radius: var(--brRadius);
  margin-bottom: 16px;
  padding: 9px 12px;

  .title {
    margin-left: 6px;
  }

  &--wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    
    img {
      margin-left: 6px;
    }
  }

  &.space-between {
    justify-content: space-between;
  }
}
