.action-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--neutralSilver);
  padding-left: 12px;
  height: 38px;
  border-radius: var(--brRadius);
  margin-bottom: 16px;

  .title {
    margin: 0 0 0 6px;
  }
}
