.friend-management {
  width: 100%;

  .friends-request-container {
    margin-bottom: 26px;

    .title-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
    }

    .show-more-button {
      display: flex;
      align-items: center;
      background-color: transparent;
      cursor: pointer;

      img {
        margin-left: 7px;
      }
    }
  }
}
