.payout-detail {
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 20px;
  }

  .detail-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__date {
      margin-bottom: 12px;
    }

    &__balance {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 76px;
      background-color: var(--primaryGolden);
      border-radius: var(--brRadius);
      margin-bottom: 20px;

      &--price {
        margin-top: 4px;
      }
    }

    &__transaction {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
      margin-bottom: 20px;

      &--wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--brRadiusSecondary);
        background-color: var(--neutralSilver);
        width: 100%;
        padding: 7px 12px;

        .description {
          color: var(--neutralAdditional);
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            margin-left: 4px;
          }
        }

        .withdrawal {
          color: var(--brightGreenSecondary);
        }
      }
    }
  }

  .content-message {
    position: initial;
    transform: initial;
  }
}
